extends layout

block content
  h1= title
  p Welcome to the Open Training Mission reference
  br/

  p
    a(href="/aliases") List of existing marker commands aliases

  p
    a(href="/missions") List of available air-to-air combat missions

