extends layout

block content
  h1= title
  p Bienvenue sur le site de référence des missions VEAF Open Training !

  br/

  h2 Liens et documentation
  
  h3 Le site de la VEAF
  p
    a(href='https://www.veaf.org/') https://www.veaf.org

  h3 Documentation de la mission OpenTraining 
  p
    a(href='http://veaf.org/opentraining') veaf.org/opentraining

  h3 Règlement du serveur public
  p
    a(href='http://veaf.org/publicserver') veaf.org/publicserver

  br/

  h2 Liste des aliases
  p
    a(href="/aliases/caucasus") Aliases de la mission Open Training Caucase

  p
    a(href="/aliases/syria") Aliases de la mission Open Training Syrie

  br/

  h2 Liste des missions air-air
  p
    a(href="/missions/caucasus") Missions air-air dans le Caucase

  p
    a(href="/missions/syria") Missions air-air en Syrie

